.header {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.gFT1znkr4Odu8gTkSLFAyQHaE_%26pid%3DApi&f=1);
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 100px;
}
.dashboard {
  display: flex;
  flex-wrap: wrap;
}
.containerLeft, .containerMid, .containerRight {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
/* .messages {
    border: 1px dotted gray;
} */
/* scroll functionality. sets static size for message container. messages populate from bottom. -KS*/
/* .message__list {
    height: 400px;
    width: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
} */
.task--card, .news--card, .event__card, .message__card, .friend__card {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
/* .news--card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */
.events, .eventForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.upcomingEvent {
  background-color: aquamarine;
  font-weight: bold;
  width: 250px;
  font-size: x-large;
}
/* .taskContainer, .articleContainer {
  border: 1px solid black;
  padding: 10px;
} */
/* .friend__card {
  border: 1px solid black;
  width: 150px;
} */